<h2><%= @app.name %></h2>
<dl>
  <dt>Visit at:</dt>
  <dd><a href="http://<%= @app.key %>.appdrop.com">http://<%= @app.key %>.appdrop.com</a></dd>
  <dt>Written by:</dt>
  <dd><%= @app.user %></dd>
</dl>